venga_translator.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="PartnerWSAPI" targetNamespace="http://www.xtrf.eu/TranslationManagement/PartnerWSAPI" xmlns:ns1="http://www.xtrf.eu/TranslationManagement/PartnerWSAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.xtrf.eu/TranslationManagement/PartnerWSAPI" xmlns:tns="http://www.xtrf.eu/TranslationManagement/PartnerWSAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="AccessDeniedFault">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="InvalidArgumentFault">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UnknownEntityNameFault">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="type" type="xs:string" />
                <xs:element name="name" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createSimpleProject">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="simpleProject" type="tns:SimpleProject" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createSimpleProjectResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="projectId" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createSimpleQuote">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="simpleQuote" type="tns:SimpleQuote" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createSimpleQuoteResponse">
        <xs:complexType>
            <xs:sequence />
        </xs:complexType>
    </xs:element>
    <xs:element name="findProjectsByCustomerProjectNumber">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customerProjectNumber" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="findProjectsByCustomerProjectNumberResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="projectId" nillable="true" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getAPIInfo">
        <xs:complexType>
            <xs:sequence />
        </xs:complexType>
    </xs:element>
    <xs:element name="getAPIInfoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="entries" nillable="true" type="tns:APIInfoEntry" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getCustomerReadyFilesURL">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="projectId" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getCustomerReadyFilesURLResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="url" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getProjectStatus">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="projectId" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getProjectStatusResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="tns:ProjectStatus" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="login">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userName" type="xs:string" />
                <xs:element name="password" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="loginResponse">
        <xs:complexType>
            <xs:sequence />
        </xs:complexType>
    </xs:element>
    <xs:element name="logout">
        <xs:complexType>
            <xs:sequence />
        </xs:complexType>
    </xs:element>
    <xs:element name="logoutResponse">
        <xs:complexType>
            <xs:sequence />
        </xs:complexType>
    </xs:element>
    <xs:element name="startProject">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="projectId" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="startProjectResponse">
        <xs:complexType>
            <xs:sequence />
        </xs:complexType>
    </xs:element>
    <xs:complexType name="SimpleProject">
        <xs:complexContent>
            <xs:extension base="tns:BasicProjectAttributes">
                <xs:sequence />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BasicProjectAttributes">
        <xs:sequence>
	    <!-- Note that the following items are dates, but some PHP versions fail to properly serialize it. Because of that we trick PHP to think they are trings and take care of the serialization ourselves.-->
            <xs:element name="deadline" type="xs:string" />
            <xs:element name="startDate" type="xs:string" />
            <xs:element name="workflowName" type="xs:string" />
            <xs:element minOccurs="0" name="customerPriceProfileName" type="xs:string" />
            <xs:element minOccurs="0" name="currencyName" type="xs:string" />
            <xs:element minOccurs="0" name="customerPerson" type="tns:CustomerPerson" />
            <xs:element minOccurs="0" name="name" type="xs:string" />
            <xs:element minOccurs="0" name="customerProjectNumber" type="xs:string" />
            <xs:element minOccurs="0" name="place" type="xs:string" />
            <xs:element minOccurs="0" name="dateOfEvent" type="xs:dateTime" />
            <xs:element minOccurs="0" name="customerSpecialInstructions" type="xs:string" />
            <xs:element name="sourceLanguageCode" type="xs:string" />
            <xs:element maxOccurs="unbounded" name="targetLanguageCodes" type="xs:string" />
            <xs:element minOccurs="0" name="languageSpecializationName" type="xs:string" />
            <xs:element maxOccurs="unbounded" minOccurs="0" name="files" nillable="true" type="tns:WorkflowFile" />
            <xs:element minOccurs="0" name="deliveryMethod" type="tns:ProjectDeliveryMethod" />
            <xs:element maxOccurs="unbounded" minOccurs="0" name="deliveryParams" nillable="true" type="tns:ProjectDeliveryParam" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CustomerPerson">
        <xs:complexContent>
            <xs:extension base="tns:Person">
                <xs:sequence />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Person">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element minOccurs="0" name="lastName" type="xs:string" />
            <xs:element name="mail" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WorkflowFile">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="category" type="tns:WorkflowFileCategory" />
            <xs:element name="url" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProjectDeliveryParam">
        <xs:sequence>
            <xs:element name="key" type="xs:string" />
            <xs:element name="value" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SimpleQuote">
        <xs:complexContent>
            <xs:extension base="tns:BasicProjectAttributes">
                <xs:sequence />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="APIInfoEntry">
        <xs:sequence>
            <xs:element name="key" type="xs:string" />
            <xs:element name="value" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProjectStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Opened" />
            <xs:enumeration value="Closed" />
            <xs:enumeration value="Cancelled" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="WorkflowFileCategory">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Workfile" />
            <xs:enumeration value="TM" />
            <xs:enumeration value="Dictionary" />
            <xs:enumeration value="Reference" />
            <xs:enumeration value="LogFile" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ProjectDeliveryMethod">
        <xs:restriction base="xs:string">
            <xs:enumeration value="None" />
            <xs:enumeration value="FTP" />
            <xs:enumeration value="Custom" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="AccessDeniedFault_Exception">
    <wsdl:part element="ns1:AccessDeniedFault" name="AccessDeniedFault_Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="logoutResponse">
    <wsdl:part element="ns1:logoutResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createSimpleProject">
    <wsdl:part element="ns1:createSimpleProject" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidArgumentFault_Exception">
    <wsdl:part element="ns1:InvalidArgumentFault" name="InvalidArgumentFault_Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCustomerReadyFilesURLResponse">
    <wsdl:part element="ns1:getCustomerReadyFilesURLResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startProject">
    <wsdl:part element="ns1:startProject" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="login">
    <wsdl:part element="ns1:login" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startProjectResponse">
    <wsdl:part element="ns1:startProjectResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProjectStatus">
    <wsdl:part element="ns1:getProjectStatus" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="logout">
    <wsdl:part element="ns1:logout" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAPIInfoResponse">
    <wsdl:part element="ns1:getAPIInfoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findProjectsByCustomerProjectNumber">
    <wsdl:part element="ns1:findProjectsByCustomerProjectNumber" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createSimpleProjectResponse">
    <wsdl:part element="ns1:createSimpleProjectResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnknownEntityNameFault_Exception">
    <wsdl:part element="ns1:UnknownEntityNameFault" name="UnknownEntityNameFault_Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAPIInfo">
    <wsdl:part element="ns1:getAPIInfo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part element="ns1:loginResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProjectStatusResponse">
    <wsdl:part element="ns1:getProjectStatusResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createSimpleQuoteResponse">
    <wsdl:part element="ns1:createSimpleQuoteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createSimpleQuote">
    <wsdl:part element="ns1:createSimpleQuote" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCustomerReadyFilesURL">
    <wsdl:part element="ns1:getCustomerReadyFilesURL" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findProjectsByCustomerProjectNumberResponse">
    <wsdl:part element="ns1:findProjectsByCustomerProjectNumberResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PartnerWSAPI">
    <wsdl:operation name="getProjectStatus">
      <wsdl:input message="ns1:getProjectStatus" name="getProjectStatus">
    </wsdl:input>
      <wsdl:output message="ns1:getProjectStatusResponse" name="getProjectStatusResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:InvalidArgumentFault_Exception" name="InvalidArgumentFault_Exception">
    </wsdl:fault>
      <wsdl:fault message="ns1:AccessDeniedFault_Exception" name="AccessDeniedFault_Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input message="ns1:logout" name="logout">
    </wsdl:input>
      <wsdl:output message="ns1:logoutResponse" name="logoutResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findProjectsByCustomerProjectNumber">
      <wsdl:input message="ns1:findProjectsByCustomerProjectNumber" name="findProjectsByCustomerProjectNumber">
    </wsdl:input>
      <wsdl:output message="ns1:findProjectsByCustomerProjectNumberResponse" name="findProjectsByCustomerProjectNumberResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:AccessDeniedFault_Exception" name="AccessDeniedFault_Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createSimpleProject">
      <wsdl:input message="ns1:createSimpleProject" name="createSimpleProject">
    </wsdl:input>
      <wsdl:output message="ns1:createSimpleProjectResponse" name="createSimpleProjectResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:UnknownEntityNameFault_Exception" name="UnknownEntityNameFault_Exception">
    </wsdl:fault>
      <wsdl:fault message="ns1:InvalidArgumentFault_Exception" name="InvalidArgumentFault_Exception">
    </wsdl:fault>
      <wsdl:fault message="ns1:AccessDeniedFault_Exception" name="AccessDeniedFault_Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createSimpleQuote">
      <wsdl:input message="ns1:createSimpleQuote" name="createSimpleQuote">
    </wsdl:input>
      <wsdl:output message="ns1:createSimpleQuoteResponse" name="createSimpleQuoteResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:UnknownEntityNameFault_Exception" name="UnknownEntityNameFault_Exception">
    </wsdl:fault>
      <wsdl:fault message="ns1:InvalidArgumentFault_Exception" name="InvalidArgumentFault_Exception">
    </wsdl:fault>
      <wsdl:fault message="ns1:AccessDeniedFault_Exception" name="AccessDeniedFault_Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCustomerReadyFilesURL">
      <wsdl:input message="ns1:getCustomerReadyFilesURL" name="getCustomerReadyFilesURL">
    </wsdl:input>
      <wsdl:output message="ns1:getCustomerReadyFilesURLResponse" name="getCustomerReadyFilesURLResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:InvalidArgumentFault_Exception" name="InvalidArgumentFault_Exception">
    </wsdl:fault>
      <wsdl:fault message="ns1:AccessDeniedFault_Exception" name="AccessDeniedFault_Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="ns1:login" name="login">
    </wsdl:input>
      <wsdl:output message="ns1:loginResponse" name="loginResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:AccessDeniedFault_Exception" name="AccessDeniedFault_Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="startProject">
      <wsdl:input message="ns1:startProject" name="startProject">
    </wsdl:input>
      <wsdl:output message="ns1:startProjectResponse" name="startProjectResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:InvalidArgumentFault_Exception" name="InvalidArgumentFault_Exception">
    </wsdl:fault>
      <wsdl:fault message="ns1:AccessDeniedFault_Exception" name="AccessDeniedFault_Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAPIInfo">
      <wsdl:input message="ns1:getAPIInfo" name="getAPIInfo">
    </wsdl:input>
      <wsdl:output message="ns1:getAPIInfoResponse" name="getAPIInfoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
<wsdl:binding name="PartnerWSAPIImplServiceSoapBinding" type="ns1:PartnerWSAPI">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
  <wsdl:operation name="getProjectStatus">
    <soap:operation soapAction="http://www.xtrf.eu/PartnerWSAPI/getProjectStatus" style="document" />
    <wsdl:input name="getProjectStatus">
      <soap:body use="literal" />
    </wsdl:input>
    <wsdl:output name="getProjectStatusResponse">
      <soap:body use="literal" />
    </wsdl:output>
    <wsdl:fault name="InvalidArgumentFault_Exception">
      <soap:fault name="InvalidArgumentFault_Exception" use="literal" />
    </wsdl:fault>
    <wsdl:fault name="AccessDeniedFault_Exception">
      <soap:fault name="AccessDeniedFault_Exception" use="literal" />
    </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="logout">
    <soap:operation soapAction="http://www.xtrf.eu/PartnerWSAPI/logout" style="document" />
    <wsdl:input name="logout">
      <soap:body use="literal" />
    </wsdl:input>
    <wsdl:output name="logoutResponse">
      <soap:body use="literal" />
    </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="findProjectsByCustomerProjectNumber">
    <soap:operation soapAction="http://www.xtrf.eu/PartnerWSAPI/findProjectsByCustomerProjectNumber" style="document" />
    <wsdl:input name="findProjectsByCustomerProjectNumber">
      <soap:body use="literal" />
    </wsdl:input>
    <wsdl:output name="findProjectsByCustomerProjectNumberResponse">
      <soap:body use="literal" />
    </wsdl:output>
    <wsdl:fault name="AccessDeniedFault_Exception">
      <soap:fault name="AccessDeniedFault_Exception" use="literal" />
    </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="createSimpleProject">
    <soap:operation soapAction="http://www.xtrf.eu/PartnerWSAPI/createSimpleProject" style="document" />
    <wsdl:input name="createSimpleProject">
      <soap:body use="literal" />
    </wsdl:input>
    <wsdl:output name="createSimpleProjectResponse">
      <soap:body use="literal" />
    </wsdl:output>
    <wsdl:fault name="UnknownEntityNameFault_Exception">
      <soap:fault name="UnknownEntityNameFault_Exception" use="literal" />
    </wsdl:fault>
    <wsdl:fault name="InvalidArgumentFault_Exception">
      <soap:fault name="InvalidArgumentFault_Exception" use="literal" />
    </wsdl:fault>
    <wsdl:fault name="AccessDeniedFault_Exception">
      <soap:fault name="AccessDeniedFault_Exception" use="literal" />
    </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="createSimpleQuote">
    <soap:operation soapAction="http://www.xtrf.eu/PartnerWSAPI/createSimpleQuote" style="document" />
    <wsdl:input name="createSimpleQuote">
      <soap:body use="literal" />
    </wsdl:input>
    <wsdl:output name="createSimpleQuoteResponse">
      <soap:body use="literal" />
    </wsdl:output>
    <wsdl:fault name="UnknownEntityNameFault_Exception">
      <soap:fault name="UnknownEntityNameFault_Exception" use="literal" />
    </wsdl:fault>
    <wsdl:fault name="InvalidArgumentFault_Exception">
      <soap:fault name="InvalidArgumentFault_Exception" use="literal" />
    </wsdl:fault>
    <wsdl:fault name="AccessDeniedFault_Exception">
      <soap:fault name="AccessDeniedFault_Exception" use="literal" />
    </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="getCustomerReadyFilesURL">
    <soap:operation soapAction="http://www.xtrf.eu/PartnerWSAPI/getCustomerReadyFilesURL" style="document" />
    <wsdl:input name="getCustomerReadyFilesURL">
      <soap:body use="literal" />
    </wsdl:input>
    <wsdl:output name="getCustomerReadyFilesURLResponse">
      <soap:body use="literal" />
    </wsdl:output>
    <wsdl:fault name="InvalidArgumentFault_Exception">
      <soap:fault name="InvalidArgumentFault_Exception" use="literal" />
    </wsdl:fault>
    <wsdl:fault name="AccessDeniedFault_Exception">
      <soap:fault name="AccessDeniedFault_Exception" use="literal" />
    </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="login">
    <soap:operation soapAction="http://www.xtrf.eu/PartnerWSAPI/login" style="document" />
    <wsdl:input name="login">
      <soap:body use="literal" />
    </wsdl:input>
    <wsdl:output name="loginResponse">
      <soap:body use="literal" />
    </wsdl:output>
    <wsdl:fault name="AccessDeniedFault_Exception">
      <soap:fault name="AccessDeniedFault_Exception" use="literal" />
    </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="startProject">
    <soap:operation soapAction="http://www.xtrf.eu/PartnerWSAPI/startProject" style="document" />
    <wsdl:input name="startProject">
      <soap:body use="literal" />
    </wsdl:input>
    <wsdl:output name="startProjectResponse">
      <soap:body use="literal" />
    </wsdl:output>
    <wsdl:fault name="InvalidArgumentFault_Exception">
      <soap:fault name="InvalidArgumentFault_Exception" use="literal" />
    </wsdl:fault>
    <wsdl:fault name="AccessDeniedFault_Exception">
      <soap:fault name="AccessDeniedFault_Exception" use="literal" />
    </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="getAPIInfo">
    <soap:operation soapAction="http://www.xtrf.eu/PartnerWSAPI/getAPIInfo" style="document" />
    <wsdl:input name="getAPIInfo">
      <soap:body use="literal" />
    </wsdl:input>
    <wsdl:output name="getAPIInfoResponse">
      <soap:body use="literal" />
    </wsdl:output>
  </wsdl:operation>
</wsdl:binding>
<wsdl:service name="PartnerWSAPIImplService">
  <wsdl:port binding="tns:PartnerWSAPIImplServiceSoapBinding" name="PartnerWSAPIImplPort">
    <soap:address location="https://68.168.111.235:7443/portal" />
  </wsdl:port>
</wsdl:service>
</wsdl:definitions>
